.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 160px;
  min-height: 100vh;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  border: 2px solid #999;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 1px 5px #999;
}

.left {
  width: 35%;
  padding-right: 20px;
}

.right {
  width: 75%;
  border-left: 2px solid #999;
  padding-left: 20px;
}

.pic {
  padding: 0 65px;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #999;
  padding-bottom: 10px;
}

.pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.name p {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.infoValue {
  padding: 6px 0;
}

.infoValue p:first-child {
  font-size: 14px;
  color: #9b9b9b;
  cursor: pointer;
  padding: 0;
}

.infoValue p:last-child {
  font-size: 16px;
  padding: 0;
}

.target h2 {
  margin-bottom: 10px;
}

.target {
  padding: 15px 0px;
  border-bottom: 2px solid #999;
}

.target p {
  padding-bottom: 5px;
}

.leetCode {
  object-fit: cover;
  width: 100%;
  margin-top: -120px;
}
